.projectMobileInfoSection {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 60%; /* Layout ocupa 60% */
  margin: 0 auto;
  padding: 30px 0;
  color: #f0f0f0;
}

/* Seção Esquerda */
.leftSection {
  flex: 1;
  overflow: hidden;
}

.leftSection img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* As imagens se ajustam sem distorcer */
}

/* Seção Direita */
.rightSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.backgroundSection {
  padding: 10px;
}

.backgroundSection h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.backgroundSection p {
  font-size: 1rem;
  line-height: 1.5;
  color: #cccccc;
}

.techStackSection {
  padding: 10px;
}

.techStackSection h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.technologiesList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.techImage {
  width: 60px;
  height: 60px;
  object-fit: contain;
  transition: transform 0.3s ease, opacity 0.3s ease;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  padding: 8px;
}

.techImage:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
