@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,600;1,400;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #888 #141414;
}

body {
  font-family: "Ibarra Real Nova", serif;
  color: rgb(33, 33, 33);
  background: linear-gradient(135deg, #1c1c28, #2a2a3b, #1f1f32);
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

select {
  cursor: pointer;
}

input,
select,
button {
  font-family: "Ibarra Real Nova", serif;
}
